@import '../../styles.scss';
.home {
  .image-container {
    position: relative;
    text-align: center;
    color: white;

    .top-left {
      position: absolute;
    }

    .bottom-left {
      position: absolute;
      bottom: 30px;
      left: 30px;
    }
  }

  mat-toolbar {
    background-color: $primary;
  }

  .mat-raised-button {
    min-width: 215px;
    height: 50px;
  }

  .gray-background {
    background-color: rgb(237, 240, 242);
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    height: 50px;
    border-radius: 5px;
    background-color: white !important;
    padding: 0px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px !important;
  }
}
