<div class="d-flex flex-column align-items-center">
  <!-- CREATE/IMPLEMENT IMAGE SLIDER -->
  <img src="http://placehold.it/1980x720/333333" class="w-100" />

  <mat-toolbar
    color="accent"
    class="d-flex flex-column align-items-center w-100 h-auto pt-3 text-white"
  >
    <h2>Search for homes in Virginia, Maryland, or Delaware</h2>
    <div class="d-flex align-items-center justify-content-between w-50">
      <mat-form-field class="w-75 mr-3">
        <input
          matInput
          type="text"
          placeholder="Enter a county, city, or community"
        />
      </mat-form-field>
      <!-- TODO: IMPLEMENT SEARCH COMMUNITY LIST FEATURE -->
      <button mat-raised-button color="primary">
        <mat-icon class="mat-18">search</mat-icon> FIND MY NEW HOME
      </button>
    </div>
  </mat-toolbar>

  <div class="d-flex flex-column align-items-center text-center mb-5">
    <h1>The Mid-Atlantic's Most Innovative Homebuilder</h1>
    <h4>
      Brookfield Residential makes finding the home you want easier than you
      ever imagined.<br />Together, we'll create a home that is everything you
      dreamed.
    </h4>
    <p>
      Our Empower innovation features redefine how you shop for your new
      home,<br />
      personalize your design and enjoy life in your new home each day.
    </p>
    <button
      mat-raised-button
      class="align-self-center w-50 p-2"
      routerLink="empower-innovations"
      color="primary"
    >
      DISCOVER EMPOWER
    </button>
  </div>

  <!-- REPLACE WITH MDBOOTSTRAP GRID OR FLEXBOX -->
  <div class="d-flex w-100">
    <div
      class="d-flex flex-column justify-content-center align-items-left w-50 p-5"
    >
      <!-- TODO: Get proper art assets for icons -->
      <div class="d-flex flex-row align-self-center justify-content-between w-50">
        <mat-icon class="mat-18">location_city</mat-icon>
        <mat-icon class="mat-18">home</mat-icon>
        <mat-icon class="mat-18">domain</mat-icon>
      </div>
      <h1>Search All Home Plans</h1>
      <p>
        From condos and townhomes to the most luxurious single-family homes,
        you'll find a floorplan that fits exactly what you're looking for.
      </p>
      <button
        class="align-self-center w-50 p-2"
        mat-raised-button
        routerLink="home-plans"
        color="primary"
      >
        SEE ALL HOMES
      </button>
    </div>

    <img src="http://placehold.it/960x540/333333" class="w-50" />
  </div>

  <div class="d-flex w-100">
    <img src="http://placehold.it/960x540/333333" class="w-50" />
    <div
      class="d-flex flex-column justify-content-center align-items-left w-50 p-5"
    >
      <h3>
        TAKE CONTROL OF YOUR SEARCH
      </h3>
      <h1>Empower Innovations</h1>
      <p>
        Tap our latest innovation features to enhance your home shopping
        experience. You'll discover new ways to find, tour, and personalize new
        homes in a smooth, enjoyable process.
      </p>
      <button
        mat-raised-button
        class="align-self-center w-50 p-2"
        routerLink="empower-innovations"
        color="primary"
      >
        GET EMPOWERED
      </button>
    </div>
  </div>
</div>
