<div class="wrapper">
  <span>HOME</span>
  <div>
    PHOTO SLIDER
    <!-- CREATE PHOTO SLIDER -->
  </div>

  <div class="container search-homes">
    <div>Search for homes in Virginia, Maryland, or Delaware</div>
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Enter a county, city, or community"
        />
      </mat-form-field>
      <button mat-raised-button (click)="(onClick)" color="primary">
        <mat-icon class="mat-18">search</mat-icon> FIND MY NEW HOME
      </button>
    </div>
  </div>

  <div class="container">
    <div>The Mid-Atlantic's Most Innovative Homebuilder</div>
    <div
      >Brookfield Residential makes finding the home you want easier than you
      ever imagined. Together, we'll create a home that is everything you
      dreamed.
    </div>
    <div
      >Our Empower innovation features redefine how you shop for your new home,
      personalize your design and enjoy life in your new home each day.</div
    >
    <button mat-raised-button (click)="(onClick)" color="primary">
      DISCOVER EMPOWER
    </button>
  </div>

  <!-- <mat-grid-list cols="2" rowHeight="2:1" class="container">
    <mat-grid-tile>
      <div>Search All Home Plans</div>
      <div
        >From condos and townhomes to the most luxurious single-family homes,
        you'll find a floorplan that fits exactly what you're looking for.</div
      >
      <button mat-raised-button (click)="(onClick)" color="primary">
        SEE ALL HOMES
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
     <img />
    </mat-grid-tile>
    <mat-grid-tile>
      <img />
    </mat-grid-tile>
    <mat-grid-tile>
      <div>TAKE CONTROL OF YOUR SEARCH</div>
      <div>Empower Innovations</div>
      <div
        >Tap our latest innovation features to enhance your home shopping
        experience. You'll discover new ways to find, tour, and personalize new
        homes in a smooth, enjoyable process.</div
      >
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
