.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0px;
  align-items: center;
}

.title {
    font-weight: bold;
    font-size: 38px;
}

.content {
    font-size: 16px;
}

.content-bold {
    font-weight: bold
}

.card-subtitle {
    font-size: 18px
}

.card-title {
    font-size: 30px;
}

.search-homes {
  background-color: grey;
  color: white;
}