@font-face {
  font-family: 'Helvetica-Neue-Medium';
  src: url('/assets/fonts/HelveticaNeueMedium.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica-Neue-Light';
  src: url('/assets/fonts/HelveticaNeueLight.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Neue-Bold';
  src: url('/assets/fonts/HelveticaNeueBold.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica-Neue-Italic';
  src: url('/assets/fonts/HelveticaNeueItalic.woff') format('woff');
}
