//SIZINGS NOT INCLUDED IN BOOTSTRAP
//HEIGHT
.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}
.h-30 {
  height: 30%;
}
//WIDTH
.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

//FONT SIZES
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-36 {
  font-size: 36px;
}
