@import '../styles.scss';

.main-app {
  // max-width: 1440px;

  .image-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: $primary;

    .top-left {
      position: absolute;
    }

    .bottom-left {
      position: absolute;
      bottom: 30px;
      left: 30px;
    }

    .footer {
      display: flex;
      justify-content: center;
    }
  }
}
