<div class="main-app">
  <!-- TODO: Add logic to switch betwen the toolbars ~CT -->
  <!-- <brookfield-secondary-navigation></brookfield-secondary-navigation> -->
  <!-- <brookfield-main-navigation></brookfield-main-navigation> -->
  <div class="image-container w-100">
    <div class="top-left w-100">
      <!-- <brookfield-home-secondary-nav></brookfield-home-secondary-nav>
      <brookfield-home-main-nav></brookfield-home-main-nav> -->
      <brookfield-navigation></brookfield-navigation>
    </div>

    <img src="../../assets/images/home-image.jpg" class="w-100" />
  </div>
  <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
  <!-- 
  <div class="footer">
    <brookfield-footer></brookfield-footer>
    <div class="wrapper"></div>
  </div> -->
</div>
