<mat-card class="m-2">
  <div class="d-flex flex-row community-card">
    <div class="d-flex flex-column justify-content-between w-50">
      <img src="http://placehold.it/480x270/333333" class="h-75"/>
      <mat-checkbox color="primary">Compare</mat-checkbox>
    </div>
    <div class="d-flex flex-column justify-content-between w-50 ml-2">
      <div>Community Name<br />City ST<br />Starting Price $X00,000</div>
      <div><mat-icon class="mat-18">home</mat-icon> Single-Family Homes</div>
      <div class="d-flex flex-row justify-content-between">
        <div><mat-icon class="mat-18">hotel</mat-icon> 4-7<br />Beds</div>
        <div><mat-icon class="mat-18">hot_tub</mat-icon> 2.5-7<br />Baths</div>
      </div>
      <button mat-raised-button color="primary">EXPLORE COMMUNITY</button>
    </div>
  </div>
</mat-card>
