// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portal-primary: mat-palette($mat-light-blue, 800);
$portal-accent: mat-palette($mat-light-blue);
$portal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portal-theme: mat-light-theme($portal-primary, $portal-accent, $portal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portal-theme);

/* You can add global styles to this file, and also import other style files */
@import 'styles/theme.scss';
@import 'styles/utils.scss';
@import 'styles/fonts.scss';
@import 'styles/common.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Helvetica-Neue-Regular', sans-serif !important;
}

div,
button,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
b,
i {
  font-family: 'Helvetica-Neue-Regular', sans-serif !important;
}

button,
a {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.mobile-expansion-panel .mat-expansion-panel-body {
  padding: 0px;
}

::ng-deep mat-expansion-panel-header {
  &:hover {
    background: unset !important;
  }
}

// header style
.br-header {
  font-family: HelveticaNeue-Bold;
  font-size: 28px;
  color: #0f2d4f;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;
}

// header style
.br-description {
  font-family: HelveticaNeue-Light;
  font-size: 18px;
  color: #5f6062;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}

// END OLD STYLING
