<mat-toolbar>
  <div routerLink="">
    Brookfield Residential
  </div>
  <button mat-button routerLink="find-my-home">
    <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>FIND MY HOME
  </button>
  <button mat-button routerLink="home-plans">
    <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>HOME PLANS
  </button>
  <button mat-button routerLink="empower-innovations">
    <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>
    EMPOWER INNOVATIONS
  </button>
  <button mat-button routerLink="why">WHY BROOKFIELD?</button>
</mat-toolbar>
