.main-navigation {
  border-bottom: rgb(181, 189, 193) 1px solid;
  -webkit-box-shadow: 0 8px 6px -6px lightgray;
  -moz-box-shadow: 0 8px 6px -6px lightgray;
  box-shadow: 0 8px 6px -6px lightgray;
  height: 70px;

  .logo {
    cursor: pointer;
  }
}
