<div class="d-flex justify-content-between main-navigation">
  <div routerLink="home" class="d-flex flex-column logo pl-3 mr-3">
    <span class="primary-dark-text font-36 font-weight-bold">Brookfield</span>
    <span class="text-right yellow-text font-24 mt-0">Residential</span>
  </div>
  <div class="pt-3">
    <button mat-button routerLink="find-my-home">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <span class="font-14">FIND MY HOME</span>
    </button>
    <button mat-button routerLink="home-plans">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <span class="font-14">HOME PLANS</span>
    </button>
    <button mat-button routerLink="empower-innovations">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <span class="font-14">EMPOWER INNOVATIONS</span>
    </button>
    <button mat-button routerLink="why">
      <span class="font-14">WHY BROOKFIELD?</span>
    </button>
  </div>
</div>
