<div class="d-flex justify-content-between home-main-navigation">
  <div routerLink="home" class="d-flex flex-column logo pl-3 white-text">
    <span class="font-36 font-weight-bold">Brookfield</span>
    <span class="text-right font-24 font-weight-bold">Residential</span>
  </div>
  <div class="pt-3 pr-3">
    <button mat-button routerLink="find-my-home">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <span class="font-16">FIND MY HOME</span>
    </button>
    <button mat-button routerLink="home-plans">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <span class="font-16">HOME PLANS</span>
    </button>
    <button mat-button routerLink="empower-innovations">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <span class="font-16">EMPOWER INNOVATIONS</span>
    </button>
    <button mat-button routerLink="why">
      <span class="font-16">WHY BROOKFIELD?</span>
    </button>
  </div>
</div>
