<div class="home-secondary-navigation d-flex justify-content-end w-100">
  <button mat-button class="white-text">
    Homeowner Reviews
  </button>
  <button mat-button class="white-text">
    <mat-icon>keyboard_arrow_down</mat-icon>
    Resources
  </button>
  <button mat-button class="white-text">
    <mat-icon>keyboard_arrow_down</mat-icon>
    For Owners
  </button>
  <button mat-button class="white-text p-0">
    For Realtors
  </button>
  <button mat-button class="white-text p-0">
    Blog
  </button>
  <button mat-button class="white-text">
    <mat-icon>keyboard_arrow_down</mat-icon>
    Contact Us
  </button>
  <button mat-button routerLink="my-account" class="white-text mr-3">
    <mat-icon>keyboard_arrow_down</mat-icon>
    My Account
  </button>
</div>
