<div class="footer d-flex flex-column text-white p-3">
  <div class="h-25 pb-4 d-flex flex-row">
    <div class="w-15">
      <div class="d-flex flex-column w-50">
      <h1 class="m-0">Brookfield</h1>
      <h3 class="m-0 align-self-end">Residential</h3>
      </div>
    </div>

    <div>
      3201 Jermantown Road<br>
      Suite 150<br>
      Fairfax, VA 22030<br>
      703.270.1400
    </div>

    <div class="d-flex flex-row ml-auto justify-content-between">
      <button mat-fab>
        <mat-icon class="mat-18">photo_camera</mat-icon>
      </button>

      <button mat-fab>
        <mat-icon class="mat-18">chat</mat-icon>
      </button>

      <button mat-fab>
        <mat-icon class="mat-18">rss_feed</mat-icon>
      </button>

      <button mat-fab>
        <mat-icon class="mat-18">play_circle_outline</mat-icon>
      </button>
    </div>
  </div>

  <div class="h-25 pb-4 d-flex flex-row">
    <div class="d-flex flex-column justify-content-between w-15">
      <a>SITE MAP</a>
      <a>TERMS & LEGAL</a>
      <a>PRIVACY POLICY</a>
    </div>

    <div class="d-flex flex-column justify-content-between">
      <a>Corporate</a>
      <a>Investor Relations</a>
      <a>Careers</a>
      <a>Privacy</a>
    </div>
  </div>

  <div class="d-flex flex-row">
    <mat-icon class="mat-18">home</mat-icon>
    <div>
      MHBR #408 | Prices, financing, availability, terms, and incentives are
      subject to change without notice. Availability of Empower features varies
      by home and community. See a Brookfield Residential Sales Manager for
      details. All renderings are for illustrative purposes only and are subject
      to change without notice
    </div>
  </div>
</div>
