<div class="secondary-navigation text-right">
    <button mat-button class="primary-dark-text">
      Homeowner Reviews
    </button>
    <button mat-button class="primary-dark-text p-0">
      <mat-icon>keyboard_arrow_down</mat-icon>
      Resources
    </button>
    <button mat-button class="primary-dark-text">
      <mat-icon>keyboard_arrow_down</mat-icon>
      For Owners
    </button>
    <button mat-button class="primary-dark-text p-0">
      For Realtors
    </button>
    <button mat-button class="primary-dark-text p-0">
      Blog
    </button>
    <button mat-button class="primary-dark-text p-0">
      <mat-icon>keyboard_arrow_down</mat-icon>
      Contact Us
    </button>
    <button mat-button routerLink="my-account" class="primary-dark-text">
      <mat-icon>keyboard_arrow_down</mat-icon>
      My Account
    </button>
</div>
