<mat-toolbar>
  <button mat-button>
    Homeowner Reviews
  </button>
  <button mat-button>
    <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>
    Resources
  </button>
  <button mat-button>
    <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>
    For Owners
  </button>
  <button mat-button>For Realtors</button>
  <button mat-button>
    Blog
  </button>
  <button mat-button>
    <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>
    Contact Us
  </button>
  <button mat-button routerLink="my-account">
    My Account
  </button>
</mat-toolbar>
