<div class="d-flex flex-column align-items-center">
  <!-- CREATE/IMPLEMENT IMAGE SLIDER -->
  <img src="http://placehold.it/1980x720/333333" class="w-100" />

  <div>
    <h3 class="text-center font-weight-light">
    Select a home plan category below or view all. Lorem ipsum dolor sit amet,<br>
    consectetur adipiscing elit. Aenean id erat id erat ultricies lobortis ac id
    lectus.
    </h3>
    <div class="d-flex flex-row justify-content-center">
      <button mat-button>
        <div class="d-flex flex-column align-items-center">
          <mat-icon class="mat-18">home</mat-icon>
          <div>VIEW ALL HOME PLANS</div>
        </div>
      </button>
      <button mat-button>
        <div class="d-flex flex-column align-items-center">
          <mat-icon class="mat-18">home</mat-icon>
          CONDOMINIUM HOMES
        </div>
      </button>
      <button mat-button>
        <div class="d-flex flex-column align-items-center">
          <mat-icon class="mat-18">home</mat-icon>
          SINGLE-FAMILY HOMES
        </div>
      </button>
      <button mat-button>
        <div class="d-flex flex-column align-items-center">
          <mat-icon class="mat-18">home</mat-icon>
          TOWNHOMES
        </div>
      </button>
      <button mat-button (click)="(onClick)" color="primary">
        <mat-icon class="mat-18">tune</mat-icon>
        Filters
      </button>
    </div>
  </div>
  <brookfield-home-plans-list class="container"></brookfield-home-plans-list>
  <!-- <div class="container">
    <div class="d-flex flex-row flex-wrap">
      <brookfield-home-plan-card class="w-50"></brookfield-home-plan-card>
      <img src="http://placehold.it/555x200/333333" class="m-2"/>
    </div>
  </div> -->
</div>
